@font-face {
	font-family: 'ProximaNova-Bold',sans-serif;
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light',sans-serif;
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf')  format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular',sans-serif;
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold',sans-serif;
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BELLOWSREGULAR',sans-serif;
	src: url('../fonts/BELLOWSREGULAR.eot?#iefix') format('embedded-opentype'),  url('../fonts/BELLOWSREGULAR.woff') format('woff'), url('../fonts/BELLOWSREGULAR.ttf')  format('truetype'), url('../fonts/BELLOWSREGULAR.svg#BELLOWSREGULAR') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Black',sans-serif;
	src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf')  format('truetype'), url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Extrabld',sans-serif;
	src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Extrabld.woff') format('woff'), url('../fonts/ProximaNova-Extrabld.ttf')  format('truetype'), url('../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	width: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 25px;
	font-family: 'ProximaNova-Light', sans-serif;
	color: #42526E;
	min-height: 100vh;
}
img:focus {
	background: none !important;
	border: none !important;
}
button, a {
	outline: none !important;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
/*=======================================================
			HEADINGS
========================================================*/


#main {
	background: #020320;
}
#main > section {
	height: 100vh;
	/*opacity: 0;*/
	/*visibility: hidden;*/
}
.left-top-bg,
.right-top-bg {
	top: 0;
	z-index: 2;
}
.left-top-bg {
	left: 0;
}
.right-top-bg {
	right: 0;
}
#main #header {
	opacity: 1;
	visibility: visible;
	padding-top: 35px;
}
#header-mask-bg {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 510px;
	background: url(../images/headerBg.svg) center bottom no-repeat;
	background-size: contain;
}
.head-content h1 {
	font-size: 60px;
	line-height: 1;
}
.main-nav {
	list-style: none;
	padding-left: 0;
	margin-top: 200px;
	z-index: 10;
}
.main-nav>li {
	margin-bottom: 21px;
}
.main-nav>li:last-child {
	position: relative;
	padding-top: 48px;
}
.main-nav>li:last-child:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 45px;
	border-top: 1px solid #fff;
}
.main-nav li a,
.nav-element-wrap>a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold', sans-serif;
	font-size: 12px;
	letter-spacing: .1em;
}
.sub-menu {
	list-style: none;
	margin-top: 15px;
}
.sub-menu li a {
	position: relative;
}
.sub-menu li a:before {
	top: 6px;
	left: -20px;
	width: 10px;
	height: 10px;
	background: #fff;
}
.head-content {
	height: calc(100vh - 35px);
}
.height-full {
	height: calc(100vh - 35px);
}

.sections-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
#brokers h1,
#brokers p {

	-webkit-transform: translateY(70px);
	-ms-transform: translateY(70px);
	transform: translateY(70px);
}
.hurdles-bubbles {
	position: absolute;
	overflow: hidden;
	left: 0;
	bottom: 0;
	height: 460px;
	width: 100%;
}
.hurdles-node {
	position: absolute;
	font-size: 14px;
	padding: 0 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 9999px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hurdles-node {
	font-size:16px;
	height: 40px
}


.hurdles-node--blue {
	background-color: #c4f0ff;
	color: #217ab7
}

.hurdles-node--pink {
	background-color: #ffe0f5;
	color: #9251ac
}

.hurdles-node--yellow {
	background-color: #fdeebe;
	color: #c85d42
}

.hurdles-node--green {
	background-color: #d6facf;
	color: #159570
}















.transition-defl,
a:hover,
img:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.h2, .h3, .h4,
h2, h3, h4 {
	/*color: #040424;*/
}
.ff-light {
	font-family: 'ProximaNova-Light',sans-serif;
}
.ff-regular {
	font-family: 'ProximaNova-Regular',sans-serif;
}
.ff-semibold {
	font-family: 'ProximaNova-Semibold',sans-serif;
}
.ff-bold {
	font-family: 'ProximaNova-Bold',sans-serif;
}
.ff-extrabold {
	font-family: 'ProximaNova-Extrabld',sans-serif;
}
.ff-black {
	font-family: 'ProximaNova-Black',sans-serif;
}
.before-block,
.after-block {
	position: relative;
}
.sub-menu li a:before,
.before-block:before {
	position: absolute;
	content: '';
}
.after-block:after {
	position: absolute;
	content: '';
}
.nav-element-wrap {
	position: fixed;
	top: calc(100% - 130px);
	left: initial;
}
#brokers-nav {
	top: calc(100% - 350px);
}
#multifamily-nav {
	top: calc(100% - 310px);
}
#products-nav {
	top: calc(100% - 270px);
}
#about-nav {
	top: calc(100% - 230px);
}
#lets-talk-nav {
	top: calc(100% - 190px);
}
#brokers,
#multifamily {
	height: 100vh;
	color: #fff;
}
#brokers-bg {
	background: #6c6c6c;
}
#multifamily-bg {
	background: #296d22;
}