@font-face {
	font-family: 'ProximaNova-Bold';
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Light';
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf')  format('truetype'), url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Semibold.woff') format('woff'), url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'), url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BELLOWSREGULAR';
	src: url('../fonts/BELLOWSREGULAR.eot?#iefix') format('embedded-opentype'),  url('../fonts/BELLOWSREGULAR.woff') format('woff'),
	url('../fonts/BELLOWSREGULAR.ttf')  format('truetype'), url('../fonts/BELLOWSREGULAR.svg#BELLOWSREGULAR') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Black';
	src: url('../fonts/ProximaNova-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Black.woff') format('woff'), url('../fonts/ProximaNova-Black.ttf')  format('truetype'), url('../fonts/ProximaNova-Black.svg#ProximaNova-Black') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'ProximaNova-Extrabld';
	src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Extrabld.woff') format('woff'), url('../fonts/ProximaNova-Extrabld.ttf')  format('truetype'), url('../fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	width: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 25px;
	font-family: 'ProximaNova-Light', sans-serif;
	color: #42526E;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.viewport {
	/*overflow: hidden;*/
	/*position: fixed;*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #fff;
}
#main {
	-webkit-transform-origin: center bottom 0;
	transform-origin: center bottom 0;
	-moz-transform-origin: center bottom 0;
	-webkit-transition:	background 0.3s linear, -webkit-transform 0.3s ease-in-out;
	transition:	background 0.3s linear, -webkit-transform 0.3s ease-in-out;
	-o-transition:	transform 0.3s ease-in-out, background 0.3s linear;
	transition:	transform 0.3s ease-in-out, background 0.3s linear;
	transition:	transform 0.3s ease-in-out, background 0.3s linear, -webkit-transform 0.3s ease-in-out;
	background: #020320;

}
body.tight  #main {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
	-moz-transform: scale(0.9);
}
.scroll-container {
	/*position: absolute;*/
	/*overflow: hidden;*/
	width: 100%;
	z-index: 10;
	/*display: flex;*/
	/*justify-content: center;*/
	backface-visibility: hidden;
	transform-style: preserve-3d;
}

img:focus {
	background: none !important;
	border: none !important;
}
button, a {
	outline: none !important;
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
/*=======================================================
			HEADINGS
========================================================*/

#main > section {
	height: 90vh;
	/*opacity: 0;*/
	/*visibility: hidden;*/
}
.section-content {
	opacity: 0;
	will-change: opacity;
}
.left-top-bg,
.right-top-bg {
	top: 0;
	z-index: 2;
}
.left-top-bg {
	left: 0;
}
.right-top-bg {
	right: 0;
}
#main #header {
	opacity: 1;
	visibility: visible;
	min-height: 100vh;
}
#header-mask-bg {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	background: url(../images/mask--bgL.svg) center top no-repeat;
	/*background-size: cover;*/
}
.head-content h1 {
	font-size: 60px;
	line-height: 1;
}
#wrap-mob-menu {
	z-index: 990;
	margin-top: 40px;
}
#logo-triger {
	left: 0;
	top: 150px;
}
.wrap-bbls-to-down {
	position: relative;
	width: 13px;
	top: 20px;
	height: 60px;
	margin: 0 auto -40px;
	overflow: hidden;
}
.bbl {
	position:absolute;
	display: block;
	top: -23px;
	background: rgba(18, 69, 251, 0.7);
	width: 13px;
	height: 13px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.main-nav {
	list-style: none;
	padding-left: 0;
	margin-top: 155px;
	z-index: 990;
}
.main-nav>li {
	margin-bottom: 21px;
}
.main-nav>li.active > a {
	text-decoration: underline;
	font-weight: bold;
}
.main-nav>li:last-child {
	position: relative;
	padding-top: 48px;
}
.main-nav>li:last-child:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 45px;
	border-top: 1px solid #fff;
}
.main-nav li a,
.nav-element-wrap>a {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold', sans-serif;
	font-size: 12px;
	letter-spacing: .1em;
}
.sub-menu {
	display: none;
	list-style: none;
	margin-top: 15px;
}
.main-nav>li.active .sub-menu {
	display: block;
	/*height: auto;*/
	/*visibility: visible;*/
	/*opacity: 1;*/
}
.sub-menu li a {
	position: relative;
}
.sub-menu li a:before {
	top: 7px;
	left: -16px;
	width: 8px;
	height: 8px;
	background: url(../images/arrow-point-to-right.svg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}
.head-content {
	/*height: 100vh;*/
	/*padding-top: 40px;*/
}
.height-full {
	height: calc(90vh - 35px);
}
.sections-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
#header .section-content {
	left: 0;
	/*top: 0;*/
	/*margin: auto;*/
	opacity: 1;
	bottom: -55px;
	height: 460px;
}
#header .sub-title {
	color: #4e5f83;
	margin-bottom: 0;
}
.sub-title {
	font-size: 24px;
	line-height: 1.4;
	margin-bottom: 30px;
}
.items-bubbles-wrap {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50vh;
	width: 100%;
	max-width: 1340px;
	margin: auto;
	/*background: url(../images/arcBg.png) center 90px no-repeat;*/
	background: url(../images/gradient-el_1@2x.png) center bottom no-repeat;
	background-size: cover;
}
.bubbles--wrap {
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.items-bubbles-wrap:after {
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	z-index: -1;
	background: url(../images/dotsBg.svg) center bottom no-repeat;
}
.items-bubbles {
	position: absolute;
	padding: 5px 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size:14px;
	height: 30px;
	top: 680px;
	/*z-index: 99;*/
}
.items-bubbles--blue {
	color: rgba(96, 147, 251, 0.5);
	background: rgba(26,83,197,0.5);
	background: -moz-linear-gradient(left, rgba(26,83,197,0.51) 0%, rgba(86,152,233,0.51) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(26,83,197,0.51)), color-stop(100%, rgba(86,152,233,0.51)));
	background: -webkit-linear-gradient(left, rgba(26,83,197,0.51) 0%, rgba(86,152,233,0.51) 100%);
	background: -o-linear-gradient(left, rgba(26,83,197,0.51) 0%, rgba(86,152,233,0.51) 100%);
	background: -ms-linear-gradient(left, rgba(26,83,197,0.51) 0%, rgba(86,152,233,0.51) 100%);
	background: linear-gradient(to right, rgba(26,83,197,0.18) 0%, rgba(86,152,233,0.18) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1a53c5', endColorstr='#5698e9', GradientType=1 );
	border: 1px solid rgba(0, 167, 252, 0.45);
}
.items-bubbles--yellow {
	background: rgba(255, 194, 0, 0.18);
	color: rgba(255, 194, 0, 0.5);
	border: 1px solid rgba(255, 194, 0, 0.5);
}
.circ-logo-wrap {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 0px 38px 1px rgba(4,4,25,1);
	-moz-box-shadow: 0px 0px 38px 1px rgba(4,4,25,1);
	box-shadow: 0px 0px 38px 1px rgba(4,4,25,1);
	width: 121px;
	margin-top: 45px;
}
.items-bubbles--orange {
	background: rgba(255,132,50,0.3);
	background: -moz-linear-gradient(left, rgba(255,132,50,0.18) 0%, rgba(255,220,123,0.18) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,132,50,0.18)), color-stop(100%, rgba(255,220,123,0.18)));
	background: -webkit-linear-gradient(left, rgba(255,132,50,0.18) 0%, rgba(255,220,123,0.18) 100%);
	background: -o-linear-gradient(left, rgba(255,132,50,0.18) 0%, rgba(255,220,123,0.18) 100%);
	background: -ms-linear-gradient(left, rgba(255,132,50,0.18) 0%, rgba(255,220,123,0.18) 100%);
	background: linear-gradient(to right, rgba(255,132,50,0.18) 0%, rgba(255,220,123,0.18) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8432', endColorstr='#ffdc7b', GradientType=1 );
	color: rgba(255, 106, 0, 0.5);
	overflow: hidden;
	border-right: 1px solid rgba(255,220,123,0.6);
	border-left: 1px solid rgba(255,132,50,0.6);
}
.items-bubbles--orange:before,
.items-bubbles--orange:after {
	position: absolute;
	content: '';
	left: 0;
	width: 100%;
	height: 1px;
	background: rgba(255,132,50,0.5);
	background: -moz-linear-gradient(left, rgba(255,132,50,0.3) 0%, rgba(255,220,123,0.3) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,132,50,0.3)), color-stop(100%, rgba(255,220,123,0.3)));
	background: -webkit-linear-gradient(left, rgba(255,132,50,0.3) 0%, rgba(255,220,123,0.3) 100%);
	background: -o-linear-gradient(left, rgba(255,132,50,0.3) 0%, rgba(255,220,123,0.3) 100%);
	background: -ms-linear-gradient(left, rgba(255,132,50,0.3) 0%, rgba(255,220,123,0.3) 100%);
	background: linear-gradient(to right, rgba(255,132,50,0.6) 0%, rgba(255,220,123,0.6) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8432', endColorstr='#ffdc7b', GradientType=1 );
}
.items-bubbles--orange:before {
	top: 0;
}
.items-bubbles--orange:after {
	bottom: 0;
}












.z-9 {
	z-index: 9;
}
.transition-defl,
a:hover,
img:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.h2, .h3, .h4,
h2, h3, h4 {
	/*color: #040424;*/
}
.ff-light {
	font-family: 'ProximaNova-Light',sans-serif;
}
.ff-regular {
	font-family: 'ProximaNova-Regular',sans-serif;
}
.ff-semibold {
	font-family: 'ProximaNova-Semibold',sans-serif;
}
.ff-bold {
	font-family: 'ProximaNova-Bold',sans-serif;
}
.ff-extrabold {
	font-family: 'ProximaNova-Extrabld',sans-serif;
}
.ff-black {
	font-family: 'ProximaNova-Black', sans-serif;
}
.fs-small {
	font-size: 16px !important;
}
.fs-mid {
	font-size: 18px !important;
}
.fs-big {
	font-size: 24px !important;
}
.before-block,
.after-block {
	position: relative;
}
.sub-menu li a:before,
.before-block:before {
	position: absolute;
	content: '';
}
.after-block:after {
	position: absolute;
	content: '';
}
.nav-element-wrap {
	position: fixed;
	top: calc(100% - 130px);
	left: initial;
}

/*Brokers*/

#brokers-bg {
	background: #6c6c6c;
}
.h1-big {
	font-size: 100px;
	line-height: 1;
}
.inline-btn {
	text-decoration: none !important;
	overflow: hidden;
	padding: 5px 30px 5px 0;
}

.bg--line {
	position: absolute;
	top: 0;
	left: -110px;
	width: 100px;
	height: calc(100% + 10px);
	background: #020524;
	z-index: -1;
}
.inline-btn.color-blue .bg--line {
	background: #ffffff;
}
.inline-btn.bg-blue .bg--line {
	background: #002eff;
}

.btn--text,
.arrow-hover-wrap {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.inline-btn:hover .btn--text {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
.listener-contained:hover .btn--text {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
.inline-btn:hover .arrow-hover-wrap {
	-webkit-transform: translateX(30px);
	transform: translateX(30px);
}
.listener-contained:hover .arrow-hover-wrap {
	-webkit-transform: translateX(20px);
	transform: translateX(20px);
}
.arrow-hover-wrap {
	overflow: hidden;
	margin-left: 13px;
}
.arrow-hover-wrap > .icon-arrow-right {
	-webkit-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	transform: translateY(-2px);
}
.icon-arrow-right {
	width: 16px;
	height: 13px;
}
/*.wrap-second-arrow {*/
	/*position: absolute;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*top: 0;*/
	/*left: 0;*/
	/*-webkit-transform: translateX(-100%) translateZ(0);*/
	/*transform: translateX(-100%) translateZ(0);*/
/*}*/
.inline-btn:hover .arrow-hover-wrap > .icon-arrow-right,
.listener-contained:hover .arrow-hover-wrap > .icon-arrow-right {
	/*-webkit-transform: translateX(100%) translateZ(0);*/
	/*transform: translateX(100%) translateZ(0);*/
	/*-webkit-transition: -webkit-transform .75s cubic-bezier(.23,1,.32,1) 0s;*/
	/*transition: -webkit-transform .75s cubic-bezier(.23,1,.32,1) 0s;*/
	/*-o-transition: transform .75s cubic-bezier(.23,1,.32,1) 0s;*/
	/*!*transition: transform .75s cubic-bezier(.23,1,.32,1) 0s;*!*/
	/*transition: transform .75s cubic-bezier(.23,1,.32,1) 0s, -webkit-transform .75s cubic-bezier(.23,1,.32,1) 0s;*/
}
.inline-btn:hover .wrap-second-arrow,
.listener-contained:hover .wrap-second-arrow {
	/*-webkit-transform: translateX(0) translateZ(0);*/
	/*transform: translateX(0) translateZ(0);*/
	/*-webkit-transition: -webkit-transform .75s cubic-bezier(.23,1,.32,1) .1s;*/
	/*transition: -webkit-transform .75s cubic-bezier(.23,1,.32,1) .1s;*/
	/*-o-transition: transform .75s cubic-bezier(.23,1,.32,1) .1s;*/
	/*!*transition: transform .75s cubic-bezier(.23,1,.32,1) .1s;*!*/
	/*transition: transform .75s cubic-bezier(.23,1,.32,1) .1s, -webkit-transform .75s cubic-bezier(.23,1,.32,1) .1s;*/
}
#brokers > h2,
#brokers > p,
#brokers .wrap-inline-btn,
#brokers > img {
	/*-webkit-transform: translateY(70px);*/
	/*-ms-transform: translateY(70px);*/
	/*transform: translateY(70px);*/
	/*visibility: visible !important;*/
}
#brokers,
#multifamily {
	height: 100vh;
	color: #fff;
}
#multifamily-bg {
	background: #296d22;
}
.color-blue {
	color: #002eff !important;
}
#products {
	color: #01173a;
}
#products h2,
#about h2,
#our-news h2,
#our-team-section h2 {
	font-size: 48px;
}
.listener-contained {
	display: block;
	width: 100%;
	text-decoration: none !important;
}
.plate-contained {
	width: 100%;
	min-height: 370px;
	-webkit-background-size: cover !important;
	background-size: cover !important;
}
.plate-contained > .title {
	font-size: 36px;
	color: #fff;
	text-align: center;
}
.wrap-product-item-img {
	height: 200px;
}
.plate-contained > .inline-btn {
	color: #fff;
}
.blue-bg-item {
	background: url(../images/itemProduct1Bg.jpg) 0 0 no-repeat;
}
.listener-contained .icon-arrow-right {
	width: 12px;
	height: 9px;
}
.listener-contained .arrow-hover-wrap {
	margin-left: 10px;
}
.plate-contained > .text-item {
	position: relative;
	top: -15px;
}
.red-bg-item {
	background: url(../images/itemProduct2Bg.jpg) 0 0 no-repeat;
}
.orange-bg-item {
	background: url(../images/itemProduct3Bg.jpg) 0 0 no-repeat;
}
#products .sub-title {
	margin-bottom: 100px;
}

.project {
	display: block;
}
.project__image {
	display: block;
	position: relative;
}

.project__image img {
	width: 100%;
	max-width: 100%;
	display: block;
}

.project__card {
	position: relative;
	will-change: transform;
	transition: box-shadow .3s ease;
	transform: rotateX(0deg) rotateY(0deg);
	-webkit-box-shadow: 0px 16px 31px 0px rgba(1,23,58,0.1);
	-moz-box-shadow: 0px 16px 31px 0px rgba(1,23,58,0.1);
	box-shadow: 0px 16px 31px 0px rgba(1,23,58,0.1);

}
.project__card.hover-out {
	transition: -webkit-transform .2s ease-in;
	transition: transform .3s ease-in;
	transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}
.project__detail,
.project__image {
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.listener-contained:hover .project__detail {
	-webkit-transform: translateZ(40px);
	transform: translateZ(40px);
}

.listener-contained:hover .project__image {
	-webkit-transform: translateZ(20px);
	-ms-transform: translateZ(20px);
	transform: translateZ(20px);
	will-change: transform;
}

.project__title a { color: white; }

.project__category {
	opacity: 0;
	transition: .4s ease;
	transition-delay: .1s;
	-webkit-transform: translateY(40px) scale(0);
	-ms-transform: translateY(40px) scale(0);
	transform: translateY(40px) scale(0);
	will-change: transform;
}
.shine {
	z-index: 99;
	width: 100%;
	height: 100%;
}
#brokersPic,
#multifamilyPic {
	overflow: visible;
}
#multifamily .wrap-inline-btn {
	margin-bottom: 20px;
}
#circle-w-man-inside {
	/*transform: translate3d(20px, 20px, 0);*/

	/*transform: matrix(1, 0, 0, 1, 20, 20);*/
}
#line-to-left-1 {
	opacity: 0;
}
#main #products {
	height: 80vh;
	padding-top: 100px;
}
.text-box-pr-client {
	position: relative;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 45%;
	-moz-box-flex: 0;
	-ms-flex: 0 0 45%;
	flex: 0 0 45%;
	max-width: 45%;
}
.carousel-pr-client {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 55%;
	-moz-box-flex: 0;
	-ms-flex: 0 0 55%;
	flex: 0 0 55%;
	max-width: 55%;
}
.text-box-pr-client:after {
	top: 0;
	right: 6px;
	width: 1px;
	height: 100%;
	border-right: 1px solid #a6abb1;
}
#prew-client-owl .item {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 18px;
}
#prew-client-owl .item img {
	max-width: 22%;
	width: auto;
	height: auto;
}
#about h2 {
	margin-bottom: 95px;
}
#our-news h2,
#our-team-section h2,
#footer h2 {
	color: #01173a;
}
.news-container {
	max-width: 990px;
	margin-top: 90px;
}
.listener-contained-wrap {
	max-width: 350px;
}
#our-team-section .inline-btn.bg-blue .bg--line,
#our-news .inline-btn.bg-blue .bg--line {
	background: rgba(0, 46, 255, 0.5);
}
#our-news .listener-contained {
	color: #4e5f83;
	padding: 0;
	max-width: 300px;
}
#our-news .plate-contained > .title {
	color: #01173a;
	margin: 14px 0 28px;
	line-height: 28px;
	padding: 0 20px;
}
#our-news .wrap-product-item-img {
	 height: 170px;
}
#our-news .wrap-product-item-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#our-news .plate-contained > .text-item {
	top: 0;
	padding: 0 40px 30px 23px;
}
#our-news .plate-contained > .inline-btn {
	position: absolute;
	bottom: 15px;
	left: 23px;
}
#our-news .project__card {
	padding-bottom: 35px;
	-webkit-box-shadow: 0px 11px 31px 0px rgba(1,23,58,0.05);
	box-shadow: 0px 11px 31px 0px rgba(1,23,58,0.05);
	height: 100%;
}
#our-news .listener-contained:hover .project__detail {
	-webkit-transform: translateZ(20px);
	transform: translateZ(20px);
}
#our-team-section .sub-title {
	margin-bottom: 50px;
}
#ourTeam {
	margin-bottom: 105px;
}
#lets-talk {
	margin-bottom: 135px;
}
#footer .container {
	max-width: 1030px;
}
#footer h2 {
	margin-bottom: 85px;
}
#footer .footer-form {
	padding-right: 48px;
}
.footer-form .form-control {
	border: 0;
	background: transparent;
	border-bottom: 1px solid rgba(0,0,0,.1);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	font-size: 36px;
	font-family: 'ProximaNova-Extrabld', sans-serif;
	box-shadow: none !important;
	padding: 0 0 10px 0;
	resize: none;
	color: rgba(78, 95, 131, 0.7);
	line-height: .9;
}
.footer-form .form-group {
	margin-bottom: 56px;
}
.footer-form .form-control::-webkit-input-placeholder {color: rgba(78, 95, 131, 0.7);}
.footer-form .form-control::-moz-placeholder          {color: rgba(78, 95, 131, 0.7);}/* Firefox 19+ */
.footer-form .form-control:-moz-placeholder           {color: rgba(78, 95, 131, 0.7);}/* Firefox 18- */
.footer-form .form-control:-ms-input-placeholder      {color: rgba(78, 95, 131, 0.7);}

.footer-form .form-control::-webkit-input-placeholder       {opacity: 1;   transition: opacity 0.6s ease;}
.footer-form .form-control::-moz-placeholder                {opacity: 1;   transition: opacity 0.6s ease;}
.footer-form .form-control:-moz-placeholder                 {opacity: 1;   transition: opacity 0.6s ease;}
.footer-form .form-control:-ms-input-placeholder            {opacity: 1;   transition: opacity 0.6s ease;}
.footer-form .form-control:focus::-webkit-input-placeholder {opacity: 0;   transition: opacity 0.6s ease;}
.footer-form .form-control:focus::-moz-placeholder          {opacity: 0;   transition: opacity 0.6s ease;}
.footer-form .form-control:focus:-moz-placeholder           {opacity: 0;   transition: opacity 0.6s ease;}
.footer-form .form-control:focus:-ms-input-placeholder      {opacity: 0;   transition: opacity 0.6s ease;}


.footer-form select {
	width: 100%;
	height: 50px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	color: rgba(78, 95, 131, 0.7);
	background: url(../images/selectArwDown.svg) 97% center no-repeat !important;
	background-size: 15px !important;
	padding-bottom: 5px !important;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;

}
.footer-form select::-ms-expand {
	display: none;
}
.send-btn .bg--line {
	z-index: 0;
	top: 8px;
	width: 160px;
	left: -160px;
	height: calc(100% - 16px);
}
.mb-45.form-group {
	margin-bottom: 45px !important;
}
#main.blue-bg {
	background-color: #0000ff;
}
#main.dark-bg {
	background-color: #040419;
}
#main.white-bg {
	background-color: #ffffff;
}
#main.light-bg {
	background-color: #f4f7f9;
}
#footer {
	margin-top: 100px;
}
.send-btn {
	background: #002eff;
	padding: 14px;
	min-width: 320px;
	margin-top: 10px;
}
.footer-menus-wrap {
	margin-bottom: 55px;
}
.footer-menus-wrap,
.footer-menus-wrap a,
.footer-logo {
	font-size: 16px;
}
.footer-logo img {
	margin-bottom: 10px;
}
.footer-logo p {
	margin-bottom: 5px;
}
.title-f {
	color: #040419;
	margin: 15px 0 10px;
}
.footer-menu {
	padding-left: 0;
	list-style: none;
}
.footer-menu a {
	color: #808794;
}
.copyright {
	margin-top: 30px;
}
.social-media li {
	display: inline-block;
	list-style: none;
	margin-right: 12px;
}
.social-media {

}
.social-media a {
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/sociall-bg.svg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: .6;
}

.social-media a:hover {
	opacity: 1
}

.social-media .lkdin {
	background-position: 0 0
}

.social-media .fb {
	background-position: 0 -23px
}

.social-media .inst {
	background-position: 0 -46px
}

.social-media .m-linck {
	background-position: 0 -70px
}