
@import "../fonts/styles.css";
* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 25px;
	font-family: 'ProximaNova-Light', sans-serif;
	color: #42526E;
	min-height: 100vh;
}
p {
	margin: 0 0 10px;
}
ul {
	margin-bottom: 0;
}
label {
	display: block;
}
img:focus {
	background: none !important;
	border: none !important;
}
button, a {
	outline: none !important;
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}
/*=======================================================
			HEADINGS
========================================================*/
.transition-defl,
a:hover,
img:hover {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-ms-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.h2, .h3, .h4,
h2, h3, h4 {
	color: #040424;
}
#main {
	background: #040419;
}
#main > section {
	height: 100vh;
	opacity: 0;
	visibility: hidden;
}
#main #header {
	opacity: 1;
	visibility: visible;
	padding-top: 35px;
}
.main-nav {
	list-style: none;
	padding-left: 0;
	margin-top: 200px;
	z-index: 10;
}
.main-nav>li>a {
	color: #fff;
	text-transform: uppercase;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
#brokers,
#multifamily {
	height: 100vh;
	color: #fff;
}
#brokers-bg {
	background: #6c6c6c;
}
#multifamily-bg {
	background: #296d22;
}
.sections-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}